*{
    box-sizing: border-box;
    font-size: 16px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
}

#screen{
    margin: auto;
    margin-bottom: 0px;
    padding: 32px;
    width: 520px;
    height: 414px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(225, 225, 195);
}

#login{
    margin: 0px;
    padding: 16px;
    background-color: aliceblue;
    width: 410px;
    height: 350px;
}

.input{
    margin: 16px;
}

#login-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu{
    margin: 0px;
    padding: 16px;
    background-color: aliceblue;
    width: 410px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ui{
    display: flex;
    height: 50px;
    width: 200px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    background-color: bisque;
}

#bank-balance{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 50px;
    margin-bottom: 32px;
    background-color: #EFEFEF;
    border-width: 1px;
    border-style: solid;
}

#bank-balance button{
    width: 349px;
    height: 49px;
    border-style: none;
    cursor: pointer;
}

.options{
    display: flex;
    width: 350px;
    height: 50px;
    margin-bottom: 32px;
}

.options p{
    width: 160px;
}

.options input{
    width: 120px;
}

.check{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    cursor: pointer;
}

#banking{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 50px;
    margin-bottom: 32px;
    background-color: #EFEFEF;
    border-width: 1px;
    border-style: solid;  
}

#keyboard{
    margin: auto;
    display: flex;
    width: 520px;
    background-color: rgb(225, 225, 195);
}

#grid{
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 400px;
    gap: 16px;
}

.number{
    display: flex;
    border-style: groove;
    height: 50px;
    width: auto;
    align-items: center;
    justify-content: center;
    background-color: rgb(184, 184, 154);
}

#zero{
    grid-column: -3 / -2;
}

#buttons{
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.options-buttons{
    display: flex;
    border-style: groove;
    height: 50px;
    width: 120px;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    background-color: rgb(184, 184, 154);
    text-transform: uppercase;
}

#clean{
    background-color: rgb(232, 232, 79);
}

#cancel{
    background-color: rgb(218, 58, 58);
}

#ok{
    background-color: rgb(70, 203, 70);
}